{% extends 'base.html' %}
<!--  Changing Title  -->
{% block title %} Blogs {% endblock %}
<!-- Changing Content -->
{% block intro %}{% endblock %}
<!-- sadsa -->
{% block content %}
<!--Loop  -->
{% if blogs %}
<!-- sdsadasd -->
{% for blog in blogs %}
<h2 id="topic">{{ blog.blog_title }}</h2>
<h6>{{ blog.publish_date }}</h6>
<div class="row mb-4">
  <div class="col-sm-6">
    {% if blog.blog_image %}
    <img
      src="/media/{{ blog.blog_image }}"
      alt="{{ blog.blog_title }}"
      title="{{ blog.blog_title }}"
      class="img-fluid"
      style="object-fit: cover; height: 300px; width: 75%"
    />
    {% else %}
    <div class="alert alert-info">No Image Posted!</div>
    {% endif %}
  </div>
  <div class="col-sm-6">
    <h3 class="lead">
      {{ blog.blog_content|linebreaks|truncatechars:500 }}
      <a id="read" href="{% url 'blog_app:blog_details' slug=blog.slug %}"
        >READ MORE</a
      >
    </h3>
    <h5>Posted By: <a id="users" href="#"> @{{ blog.user }} </a></h5>
    <h6>
      {{ blog.blog_like.count }} Likes | {{ blog.blog_comment.count }} Comments
    </h6>
  </div>
</div>
{% endfor %}
<!--sadasdas  -->
{% else %}
<div class="jumbotron jumbotron-fluid">
  <div class="alert alert-danger">Sorry, No Results Found</div>
  <p class="lead">
    Return To <a class="alert-link" href="{% url 'home' %}">Home Page</a>
  </p>
</div>
{% endif %}
<!-- sadasdas -->

<!-- Done -->
{% endblock %}
